{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Card Name</th>
                <th>Power One Name</th>
                <th>Power One Value</th>
                <th>Power Two Name</th>
                <th>Power Two Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
                <tr>
                    <td>{{ card.id }}</td>
                    <td>{{ card.cardName }}</td>
                    <td>{{ card.powerOneName }}</td>
                    <td>{{ card.powerOneValue }}</td>
                    <td>{{ card.powerTwoName }}</td>
		    <td>{{ card.powerTwoValue }}</td>
                    <td>
                        <a href="/link/edit/{{ card.id }}">
                            Edit Card 
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
