{% extends 'base.html.twig' %}
{% block title %}Edit a link{% endblock %}
{% block body %}
  {{ dump(linkEntry) }}
  <form action="" method="post">
  {% for link in linkEntry %}
    {{ link.name }}
    {{ link.destination }}
        <div class="form-group">
            <label id="name">Name of link</label>
            <input type="text" name="name" id="name" value="{{ link.name }}" class="form-control" />
        </div>

        <div class="form-group">
            <label for="destination">Destination URL</label>
            <input type="text" name="destination" id="destination" value="{{ link.destination }}" class="form-control" />
        </div>

        
    {% endfor %}
<button type="submit" class="btn btn-default">Go</button>
    </form>
    <a href="/">Back</a>
{% endblock %}
