{% extends 'base.html.twig' %}
{% block title %}Edit a card{% endblock %}
{% block body %}
{{ dump(cardEntry) }}
  <form action="" method="post">
  {% for card in cardEntry %}
    {{ card.cardName }}
    {{ card.powerOneName }}
        <div class="form-group">
            <label id="cardName">Card Name</label>
            <input type="text" name="cardName" id="cardName" value="{{ card.cardName }}" class="form-control" />
        </div>

        <div class="form-group">
            <label id="powerOneName">Power One Name</label>
            <input type="text" name="powerOneName" id="powerOneName" value="{{ card.powerOneName }}" class="form-control" />
        </div>
        <div class="form-group">
            <label id="powerOneValue">Power One Value</label>
            <input type="text" name="powerOneValue" id="powerOneValue" value="{{ card.powerOneValue }}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="powerTwoName">Power Two Name</label>
            <input type="text" name="powerTwoName" id="powerTwoName" value="{{ card.powerTwoName }}" class="form-control" />
        </div>

        
    {% endfor %}
<button type="submit" class="btn btn-default">Go</button>
    </form>
    <a href="/">Back</a>
{% endblock %}
